/* fonts */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');


  /* common styles */
  body{
    font-family: 'Work Sans', sans-serif;
  }
  .header{
    background: rgba(255, 144, 14, 0.1);
    /* height: 1322px; */
    
  
  }

*{margin: 0;
}

 /* nav */

 nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px;
 }
nav ul{
    display: flex;
    align-items: center;
}
 nav li{
    list-style: none;
    margin-left: 50px;
 }

 .nav-title{
    font-weight: 700;
    color: #131313;
    font-size: 45px;
 }

 /* banner */
 .banner{
    margin: 0 530px ;
    align-items: center;
    
 }
 .banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
    margin-bottom: 32px;
 }

 .banner-info{
    color: #727272;
    text-align: center;
    margin-bottom: 32px;
 }
 .banner-image{
    width: 80%;
    height: 700px;
    border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
    

 }
.btn{
    margin-left: 640px;
    margin-right: 740px;
    margin-bottom: 50px;
    ;
}
 .btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    align-items: center;
    
 }

/* --main-- */

.features{
    display: flex;
    margin: 130px 301px;
}
.pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
}

.pic img{
    width: 342px;
height: 342px;
border-radius: 8px;
}

.feature-list{
    margin-left: 50px;
}
.feature-title{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
    text-align: left;
}
.txt-clr-1{
    color: #131313;
}

.txt-clr-3{
    color: #FF900E;
}
.feature-info{
    color: #727272;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 30px;
}

.btn-2{
    background: #FF900E;
    border-radius: 8px;
    height: 100px;
    border: 0;
    width: 242px;
    margin: 0 700px 100px  ;
    text-align: center;
    color: #FFFFFF;

}
.feature-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    margin-left: 240px;
    margin-right: 240px;
    /* margin-bottom: 130px; */
}

.feature-2 img{
    height: 752px;
}

.feature-title-2{
    font-weight: 700;
    font-size: 45px;
    border-left: 6px solid  #FF900E;;
  height: 100px;
}

.feature-list-2{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.facts-container{
    margin-bottom: 100px;
}
.facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 240px;
}

.facts-info{
    color: #727272;
    margin-left: 240px;
}
.box-container{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}
.box{
    height: 150px;
    width: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;
/* transform: rotate(90deg); */
}

.box:hover{
    height: 150px;
    width: 150px;
    border:  1px solid #FF900E;
    background-color: rgb(145, 233, 204);
}


/* more section */

.project-container{
    margin: 130px ;
}
.project-header{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.project-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    /* margin-left: 390px; */
}
.project-description{
    color: #757575;
    text-align: center;
}

.project{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}



/* sponsor */
.sponsors-title{
    font-weight: 700;
    font-size: 45px;
    /* margin-left: 580px; */
    /* margin-right: 	600px; */
    margin: 0 530px;
    /* margin-bottom: 24px; */
    align-items: center;
    text-align: center;
    color: #131313;
}

.sponsors-info{
    color: #727272;
    /* display: block; */
    margin: 24px 530px 50px;
    /* margin-bottom: 50px; */
  /* align-items: center; */
  text-align: center;
}
.sponsors-container img{
 margin-left: 120px;
 margin-bottom: 130px;
}


/* footer */
.footer-title{
    margin: 0 120px 120px 120px ;
    padding: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
}


/* media queries  for mobile*/

@media screen and (max-width:576px){
    nav , ul{
        flex-direction: column;
        align-items: center;
        
    }

    .header ,.features , .facts-container, .project-container, footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: center;
    }
    .feature-2{
        margin-right: 50px;
        margin-left: 150px;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: center;
    }
    
    .features{
        margin-left: 130px;
    }

    .feature-container{
        margin-left: 30px;
        flex-direction: column;
    }
    
    .features .pic{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .header img{
        height: 50%;
        width: 20%;
    }

    .box-container, .project-list{
        flex-direction: column;
    }

    .sponsors-title , .sponsors-info{
        margin: 0 0 20px 0;
    }
   
}